<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APIBaseURL</key>
	<string>$(API_BASE_URL)</string>
	<key>AppEnvironment</key>
	<string>$(APP_ENVIRONMENT)</string>
	<key>AppLinkDomain</key>
	<string>$(APP_LINK_DOMAIN)</string>
	<key>AppURLScheme</key>
	<string>$(APP_URL_SCHEME)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>$(APP_BUNDLE_ID_BASE).invite</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(APP_URL_SCHEME)</string>
			</array>
		</dict>
	</array>
	<key>GoogleIOSClientID</key>
	<string>$(GOOGLE_IOS_CLIENT_ID)</string>
	<key>NSRemindersFullAccessUsageDescription</key>
	<string>Adds your week's grocery list to a Reminders list so you can use it while you shop.</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
</dict>
</plist>
